
body {
    margin-left: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F9F8F3;
    color: #2D302E;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("images/background.jpg");
}

h1 {
    color: #74ab4e;
    text-decoration: underline;
}

h2 {
    font-family: "Pacifico", cursive;
    font-style: normal;
    color:brown;
    display: block;
    font-size: 2em;
    margin-bottom: 20px;
}

img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.meals {
    width: 200px;
    text-align: center;
    display: inline-block;
    margin: 0 20px 0 0;
    border: 1px solid rgb(177, 146, 146);
    padding: 10px;
}